
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var f = Html.f();
}

<div class="row">
    @f.Button("button", " Star").btn_lg().AddFirst(f.Icon("star"))
</div>
<br />
<div class="row">
    @f.Button("button", " Star").AddFirst(f.Icon("star").css("color","red"))
</div>
<br />

<div class="row">
    @f.Button("button", " Star").btn_sm().AddFirst(f.Icon("star"))
</div>
<br />

<div class="row">
    @f.Button("button", " Star").btn_xs().AddFirst(f.Icon("star"))
</div>
