
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var f = Html.f();
}

<div class="row">
    @f.Icon("new-window")
</div>
<br />

<div class="row">
    @f.Icon("hand-up").css("color","red")
</div>
<br />
<div class="row">
    @f.Icon("star")
</div>

