@model Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="ajaxUpdate">

    @Html.Partial("_AjaxEdit")

</div>

<hr />
<div class="row">
    <div class="col-xs-12">
        <script src="@string.Format("http://gist-it.appspot.com/github/liuhongbo/FlexHtmlHelper/blob/master/src/FlexHtmlHelper.Sample/Views/{0}/{1}.cshtml?footer=0",Html.ViewContext.RouteData.Values["Controller"].ToString(),"_AjaxEdit")"></script>
    </div>
</div>
<hr />

