@model Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.f().CheckBox("Newsletter")
</div>
<div class="row">
    @Html.f().CheckBox("Newsletter", false)
</div>
<div class="row">
    @Html.f().CheckBoxFor(m=>m.Newsletter)
</div>
