@model FlexHtmlHelperSample.Models.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="row">

    @*@Html.CheckBoxFor(Model => Model.RememberMe)*@


</div>
<div>
    @Html.DisplayFor(model => model.Username);
</div>
<div class="row">

    @*@Html.f().CheckBoxFor(Model => Model.RememberMe)*@

    @*@Html.f().InputGroup(
        Html.f().
    );*@
</div>
