@model Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.f().Label("FirstName")   
</div>

<div class="row">
    @Html.f().Label("FirstName","Label for First Name")
</div>

<div class="row">
    @Html.f().LabelFor(m=>m.FirstName)
</div>

<div class="row">
    @Html.f().LabelFor(m => m.FirstName, "Label for First Name")
</div>
