@model Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.f().RadioButton("Gender","M",true)
    @Html.f().RadioButton("Gender", "F")
</div>
<div class="row">
    @Html.f().RadioButtonFor(m=>m.Race,"White")
    @Html.f().RadioButtonFor(m => m.Race, "Black")
</div>
