@model Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).col_md(4).placeholder("col_md(4)")
</div>

<br />

<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).col_md(4).placeholder("col_md(4)").col_md_offset(4)
</div>

<br />
