@model Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.f().TextAreaFor(m => m.Description).col_md(4).placeholder("hidden_md").hidden_md()
</div>

<br />

<div class="row">
    @Html.f().TextAreaFor(m => m.Description).col_md(4).placeholder("visible_md").visible_md()
</div>

<br />
<div class="row">
    @Html.f().TextAreaFor(m => m.Description).col_md(4).placeholder("hidden_print").hidden_print()
</div>
