@model Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.f().TextBoxFor(m => m.FirstName).col_md(4).placeholder("First Name").col_md_push(5)

    @Html.f().TextBoxFor(m => m.LastName).col_md(4).placeholder("Last Name").col_md_pull(4)
</div>

<br />
