@model Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="row">
    @Html.f().ActionLink("Link Button", "Button").Button().btn_primary()
</div>
<br/>
<div class="row">
    @Html.f().ActionLink("Link Button", "Button", "Link").Button().btn_success()
</div>
