@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @{
        var f = Html.f();
        
        f.Button("button", " Search ").btn_info().btn_lg()
            .AddFirst(f.Tag("span").AddCssClass("glyphicon glyphicon-search"))
            .Add(f.Tag("span").AddCssClass("caret"))
            .Write();
    }
</div>
<br />
