@model Person
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var f = Html.f();
}

<div class="row">
    @f.TextBoxFor(m => m.Description).col_md(4).text_lowercase()
</div>

<br />

<div class="row">
    @f.TextBoxFor(m => m.Description).col_md(4).text_uppercase()
</div>

<br />

<div class="row">
    @f.TextBoxFor(m => m.Description).col_md(4).text_capitalize()
</div>

<br />